/* Portfolio stylesheet */

h1, header{
  height:auto;
  background:  #cec3a2
  padding-bottom: 25px;
  font-family: Arial, serif;
  font-size: 40px;
  color: black;
  text-align: center;
}

body{
  background-color:  #ddd4cc ;
}

/*  the image is centered, and added a border for more contrast */
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 2px solid black;
}

/* the "top" class handles most of the text and a list */
.top{
  text-align: center;
}

.bottom{
  text-align: center;
}
