/* Portfolio stylesheet */

 p {
  font-family: Arial;
  color: blue;
  font-size: 28px;
}

h1{
  font-size: 40px;
  color: green;
  text-align: center;
}

body{
  background-color:  #d5c3b4 ;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30;
}
