/* Portfolio stylesheet */
header{
  height:auto;
  background:  #cec3a2
  text-align: center;
}
h1{
  padding: 20px
  font-family: Arial, serif;
  font-size: 40px;
  color: black;
  text-align: center;
}
h2{
  font-family: Arial, serif;
  font-size: 30px;
  color: black;
  text-align: center;
}
h3{
  font-family: Arial, serif;
  font-size: 20px;
  color: black;
  text-align: center;
}
nav,a {
  font-size: 18px;
  font-family: Arial, serif;
  text-align: center;
}
a:link{color: black;}
a:visited{color: blue;}
a:hover{color: red;}
a:active{color: pink;}


body{
  background-color:  #ddd4cc ;
}

/*  the image is centered, and added a border for more contrast */
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 2px solid black;
}
ul{
  display: inline-block;
  text-align: left;
}
ol{
  display: inline-block;
  text-align: left;
}
footer{
  text-align: center;
}
article{
  text-align: center;
  font-size: 20px;
}
section{
  padding-left: 15px;
  padding-right: 15px
  text-align: center;
  font-size: 20px;
}
/* the "top","bottom" class are relic div containers i used
.top, .bottom{
  text-align: center;
  font-size: 20px;
}
istead of using div classes i replaced them with article and section container*/
